# Ignore Mathematica files from language statistics
*.nb linguist-detectable=false
*.wl linguist-detectable=false
*.m linguist-detectable=false

# Ensure Julia files are counted
*.jl linguist-detectable=true